/* ProgressBar.css */

.progress-container {
    width: 150px;
    height: 8px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 3px;
}

.progress-bar {
    height: 100%;
    background-color: transparent;
    transition: width 0.3s ease-in-out;
    position: relative;
}


